body {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
}

/* Title stylings */
.post-title {
  font-size: 2.75rem;
  color: greenyellow !important;
  text-align: center;
  font-weight: bold;
}

.content {
  font-size: 1.2rem;
}

.last-updated {
  color: rgb(165, 165, 165);
}

.hidden {
  color: rgb(40, 40, 40);
}

a {
  color: rgb(136, 212, 22);
}

img {
  max-width: 50rem;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* For phones, full-width */
.content {
  margin: auto;
  width: 100%;
}
/* For tablets and above */
@media only screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
  }
  img {
    max-width: 100%;
  }
}
/* For normal computer width */
@media only screen and (min-width: 1200px) {
  .content {
    max-width: 42rem;
  }
}
